/* Removing the underline from a tags */
a{
    text-decoration: none;
}
/*Styling the sections below the hero other than the sidebar*/
footer , .container {
    width : 80% ;
    margin-right : 20% ;
}
/* Styling the sidebar 
line 2 --> stays in the same place even when the page is scrolled
line8 --> Scroll placement when scrolling content from the sidebar  */
#sidebar{
  position: fixed;
  width :20% ;
  top: 32rem; /* Adjust this value based on the height of the first item */
  right: 0;
  bottom: 0;
  overflow-y : auto ;
  background-color: #f8f9fa;
  text-align: right ;
  transition: height 0.3s, top 0.3s;
  }
/* Place the space from the left side for better readability for the text header and the reports below it */ 
.col-xl , .margin-text{
    margin-right : 0.5rem ;
    padding-right : 0.5rem ; 
}
/*Styling the upper body parts of the sidebar*/
.mynav {
    color: #fff;
}
/* Styling the lower part of the sidebar */
#sidebar .d-flex {
    list-style: none;
    border-radius: 5px ;
    padding: 8px 5px;
}
/* Styling the titles in the sidebar */
.mynav li a , .d-flex li a{
    color: #fff;
    text-decoration: none;
    width: 100%;
    display: block;
    border-radius: 5px;
    padding: 8px 5px;
}
/* */
.mynav li a.active {
    background: rgba(255, 255, 255, 0.2);
}
/* Styling when navigating on sidebar titles */
.mynav li a:hover , #sidebar .d-flex:hover{
    background: rgba(255, 255, 255, 0.2);
}
/* Styling the number displayed after saved articles */
.notification-badge {
    background-color: rgba(255, 255, 255, 0.7);
    float: left;
    color: #222;
    font-size: 14px;
    padding: 0px 8px;
    border-radius: 4px;
}
/* Styling the sections below the hero when the page length is at most 768 pixels */
@media screen and (max-width : 768px){
    footer , .container {
        width : 100% ;
        margin-right : 0% ;
    }
    
}