@import "../node_modules/bootstrap/scss/bootstrap.scss";
@import "../css/Vazirmatn-font-face.css";
// qoba-blog
body {
  font-family: Vazirmatn;
}
// pointer cursor for elements
.cursor-pointer {
  cursor: pointer;
}

.heroBg {
  background: rgb(202, 207, 196);
  background: linear-gradient(
    90deg,
    rgba(223, 223, 223, 1) 0%,
    rgba(202, 207, 196, 1) 100%
  );
}

// single-blog start
// font-family
* {
    box-sizing: border-box;
}
body {
    font-family: Vazirmatn;
}
// head for searching
.d-flex input{
    border: 1px solid darkblue;
}


.d-flex input:hover,.d-flex input:focus{
    border: 0;

  } 

// style for title
.bg {
    color: darkblue;
}

// font size of time and author
.ta {
    font-size: 14px;
}

// background color
.bg {
    background: rgb(202, 207, 196);
    background: linear-gradient(
      90deg,
      rgba(223, 223, 223, 1) 0%,
      rgba(202, 207, 196, 1) 100%
    );
}
// change input box style
footer input {
  outline: 0;
  border: 2px solid gray;
}
.items input:focus {
    outline: 0;
}

.items textarea:focus {
    outline: 0;
}
.items input{
    border: 1px solid gray;
}

.items input::placeholder {
    font-size: 12px;
}

.items textarea::placeholder {
    font-size: 12px;
}

.items textarea {
    height: 100px; 
    border-radius: 4px; 
    width: 300px;
}
// background of comment-text
.comment p {
    background-color: darkblue;
    color: white;
}



// background of comment
.comment {
    background: rgb(202, 207, 196);
    background: linear-gradient(
      90deg,
      rgba(223, 223, 223, 1) 0%,
      rgba(202, 207, 196, 1) 100%
    );
}
// rule of page border 
.rule {
    border-top: 1px gray;
    border-top-style: dotted;
}
// actions of comment button
.submit input{
    background-color: darkblue;
    color: white;
}

.submit input:hover {
    background-color: rgb(3, 3, 152);
}
.sidebar {
  color: darkblue;
}
.sidecolor {
  color: rgb(40, 40, 40);
}
.sidecolor2 {
  color: rgb(0, 0, 70);
}
.sidecolor:hover {
  color:  rgb(100, 99, 99);
}
// single-blog end 
li{
    list-style-type: none;
  }
#footer-p-col1 {
  line-height: 2;
}
li a {
  color: darkblue;
}

